body {
  margin: 0 auto;
}

.model, .menu {
	font: 600 15px/18px Montserrat-SemiBold, arial, helvetica, sans-serif;
}

.main__title {
	font: 600 90px/110px Montserrat-SemiBold, arial, helvetica, sans-serif;
}

.main__subtitle, .upper__subtitle, .lower__subtitle {
	font: 500 15px/18px Montserrat-Medium, arial, helvetica, sans-serif;
}

.main-speed__number, .main-distance__number, .display__number, .space__number {
	font: 600 35px/43px Montserrat-SemiBold, arial, helvetica, sans-serif;
}

.main-speed__text, .main-distance__text, .display__text, .space__text {
	font: 600 20px/24px Montserrat-SemiBold, arial, helvetica, sans-serif;
}

.main-speed__subtitle, .main-distance__subtitle, .display__subtitle, .functionality__subtitle, .space__subtitle {
	font: 400 12px/15px Montserrat-Regular, arial, helvetica, sans-serif;
}

.test-drive__link, .main-button, .description__link, .description__button {
	font: 700 13px/16px Montserrat-Bold, arial, helvetica, sans-serif;	
}

.upper__title, .lower__title, .lower__protection, .lower-text__stars {
	font: 600 30px/37px Montserrat-SemiBold, arial, helvetica, sans-serif;
}

.functionality__title {
	font: 600 20px/18px Montserrat-SemiBold, arial, helvetica, sans-serif;
}

.protection {
	font: 700 17px/21px Montserrat-Bold, arial, helvetica, sans-serif;
}

.protection__item_dop {
	font: 700 10px/12px Montserrat-Bold, arial, helvetica, sans-serif;
}

.lower-text__number {
	font: 600 50px/61px Montserrat-SemiBold, arial, helvetica, sans-serif;
}

.lower-text__safety {
	font: 600 25px/30px Montserrat-SemiBold, arial, helvetica, sans-serif;
}

/*////////header и первая секция\\\\\\\\\*/
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 58px 43px;
	padding: 12px 0 0 0;
	width: 93%;
}

.logo {
	width: 166px;
	height: 75px;
	background: top 23px right 8px no-repeat url(img/logo.svg);
	background-position: center;
}

.model {
	display: inline-block;
	margin-right: 175px;
}

.model__item {
	margin-right: 42px;
	text-decoration: none;
	color: black;
	position: relative;
	display: inline-block;
	transition: color .3s ease-in-out;
	transition-duration: .2s;
}

.model__item_2 {
	margin-right: 20px;
}

.model__item_active {
	color: #e51937;
	margin-right: 59px;
}

.model__item:hover {
	color: #e51937;
}

.model__item_active::after {
	position: absolute;
	display: block;
	content: '';
	left: 0;
	width: 100%;
	bottom: -6px;
	height: 2px;
	background: #e51937;
	transition: opacity .5s, width .5s;
	border-radius: 0 0 100px 100px;
}

.model__item::before {
	position: absolute;
	content: '';
	background: #e51937;
	width: 100%;
  height: 2px;
  bottom: -6px;
  transform: scaleX(0);
  border-radius: 0 0 100px 100px;
}

.model__item::after, .model__item::before {
	content: '';
  position: absolute;
  transition: transform 0.5s ease-in-out;
  left: 0;
}

.model__item:hover::before {
	transform: scaleX(1);
  border-radius: 0 0 100px 100px;
}

.menu {
	display: inline-block;
	margin-right: 34px;
}

.menu__item {
	text-decoration: none;
	color: black;
	margin-right: 24px;
}

#toggle {
	display: none;
}

.btn {
	display: flex;
	align-items: center;
	position: relative;
	left: 888px;
	top: 8px;
	width: 23px;
	cursor: pointer;
	z-index: 1;
}

.btn > span, .btn > span::after, .btn > span::before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #e51937;
	border-radius: 0 0 100px 100px;
	transition-duration: .2s;
}

.btn > span::after {
	content: '';
	top: 8px;
}

.btn > span::before {
	content: '';
	top: -8px;
}

#toggle:checked ~ .btn > span {
  transform: rotate(45deg);
}

#toggle:checked ~ .btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#toggle:checked ~ .btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

.main {
	display: flex;
	align-items: center;
	flex-direction: column;
	background: url(img/main.svg) no-repeat;
	background-size: contain;
	margin-top: -12px;
}

.main__red-car {
	background: url(img/main_car.svg) no-repeat;
	width: 100%;
	height: 461px;
	background-position: 42% 24px;
}

.main__title {
	margin: -1px 0 0 0;
}

.main__subtitle {
	margin: -8px 0 0 0;
}

.main__pros {
	display: flex;
	justify-content: space-between;
	width: 47%;
	align-items: center;
	margin-top: -22px;
}

.main-speed {
	display: flex;
  align-items: center;
  width: 268px;
  height: 56px;
  margin: -48px 0 0 -81px;
}

.speed-img {
	display: flex;
	background: url(img/Speed.svg) no-repeat;
	background-position: 16px 30px;
  background-size: 55px;
  width: 81px;
  height: 67px;
}

.main-speed__number {
	margin: 17px 0 0px -1px;
}

.main-speed__text {
	margin: 0 0 0 8px;
}

.main-speed__subtitle {
	margin: 70px 0 0 -94px;
}

.main-distance {
	display: flex;
	align-items: center;
	width: 200px;
	height: 200px;
	margin: 0 0 0 -88px;
}

.distance-img {
	display: flex;
	background: url(img/Roadicon.svg) no-repeat;
	background-position: -1px 0;
	background-size: 41px;
	width: 67px;
	height: 63px;
}

.main-distance__number {
	margin: -31px 0 0 -21px; 
}

.main-distance__text {
	margin: 0 0 0 6px;
}

.main-distance__subtitle {
	margin: 37px -25px 17px -98px; 
 }

.links {
 	display: flex;
 	align-items: center;
 	width: 333px;
 	height: 200px;
 	margin: 0 -68px 0 -30px;
 }

.test-drive {
 	background: url(img/Testdrive.svg) no-repeat;
 	background-position: 5px 12px;
	background-size: 125px;
	width: 130px;
	height: 63px;
	cursor: pointer;
 }

.main-button {
	display: flex;
	align-items: center;
	justify-content: center;
 	color: #e51937;
 	border: 2px solid #e51937;
 	width: 156px;
  height: 36px;
  margin: -13px 0px 0 36px;
  transition: background-color, color .8s;
  cursor: pointer;
 }

.main-button:hover {
	color: white;
	background-color: #e51937;
 }

.arrow {
	background: url(img/Vector.svg) no-repeat;
	width: 35px;
	height: 20px;
	margin-top: -46px;
	cursor: pointer;
}
/*////////header и первая секция\\\\\\\\\*/
/*///////////////////2 секция//////////////////////*/
.description-up {
	background: url(img/salon.svg) no-repeat;
	width: 1440px;
	height: 935px;
	background-position-y: 100%;
	position: relative;
	background-size: 88%;
	display: flex;
	justify-content: space-between;
}

.upper {
	background: #E51937;
	width: 388px;
	height: 876px;
	margin-left: 1000px;
	margin-top: 35px;
	padding: 24px 0 0 52px;
	color: white;
}

.img-title__up {
	font: 600 70px/85px Montserrat-SemiBold, arial, helvetica, sans-serif;
	color: #E51937; 
	position: absolute;
	left: 80px;
  top: 42px;
}

.upper__title {
	margin-bottom: 0;
}

.upper__subtitle{
	width: 316px;
}
.display {
	position: relative;
	margin-top: 60px;
}
.display::before {
	background: url(img/screen.svg);
	width: 36px;
	height: 53px;
	content: '';
	position: absolute;
	top: 12px;
	left: 0;
}

.display__number {
	padding-left: 55px;
	position: relative;
}

.display__text {
	padding-left: 10px;
}

.display__subtitle {
	position: absolute;
	top: 41px;
	left: 55px;
}

.functionality {
	width: 200px;
	padding: 6px 0 0 59px;
	position: relative;
}

.functionality__title {
	margin-bottom: -12px;
}

.functionality__subtitle {
	margin-bottom: -10px;
}

.functionality::before {
	background: url(img/wi.svg);
	width: 44px;
	height: 34px;
	content: '';
	position: absolute;
	top: 39px;
	left: -3px;
}

.space {
	padding-left: 60px;
	position: relative;
	margin-bottom: 182px;
}

.space::before {
	background: url(img/bag.svg);
	width: 36px;
	height: 52px;
	content: '';
	position: absolute;
	top: 14px;
	left: 0;
}

.space__text {
	padding-left: 10px;
}

.space__subtitle {
	width: 140px;
}

.space__number {
	margin-bottom: -13px;
}

.description-first {
	position: relative;
	padding-left: 27px;
	cursor: pointer;
}

.description-first::before {
	background: url(img/i.svg);
	width: 22px;
	height: 22px;
	content: '';
	position: absolute;
	top: -3px;
	left: -3px;
	cursor: pointer;
}

.description__button {
	margin-left: 30px;
  border: 2px solid #FFF;
  padding: 10px 41px;
}

.description__button:hover{
	background-color: #FFF;
	color: #E51937;
	transition: .5s;
}
/*////////////////3 секция////////////*/
.description-low {
	position: relative;
}

.img {
	background: url(img/Car-fr.svg) no-repeat;
	width: 1440px;
	height: 755px;
	position: absolute;
	background-position: 345px 171px;
}

.img-title__low {
	font: 600 200px/243px Montserrat-SemiBold, arial, helvetica, sans-serif;
	color: #E51937; 
	position: absolute;
	opacity: 0.1;
	width: 809px;
	left: 629px;
  top: -68px;
}

.whs {
	background: url(img/whs.svg);
	width: 94px;
	height: 38px;
	position: absolute;
	right: 18px;
	bottom: 15px;
}

.lower {
	background: #E51937;
	width: 384px;
	height: 876px;
	padding: 26px 0 0 56px;
	color: white;
}

.lower__title {
	margin-bottom: -2px;
}

.lower__subtitle {
	width: 330px;
	margin-bottom: 57px;
}

.lower__protection {
	margin-bottom: 27px;
}

.protection__item {
	position: relative;
}

.protection__item::after {
	background: url(img/Star.svg) space;
	position: absolute;
	content: '';
	width: 140px;
	height: 25px;
	right: 94px;
	top: -4px;
}

.protection {
	margin-bottom: 99px;
}

.lower-text {
	padding-left: 95px;
	position: relative;
}

.lower-text::before {
	background: url(img/zn.svg) no-repeat;
	position: absolute;
	content: '';
	width: 62px;
	height: 74px;
	left: 10px;
	top: 9px;
}

.lower-text__stars {
	font: 600 50px/36px Montserrat-SemiBold, arial, helvetica, sans-serif;
	padding-left: 10px;
}

.lower-text__safety {
	margin: -9px 0 72px -1px;
}

.description-second {
	position: relative;
	padding-left: 11px;
	cursor: pointer;
}

.description-second::before {
	background: url(img/i.svg);
	width: 22px;
	height: 22px;
	content: '';
	position: absolute;
	top: -3px;
	left: -18px;
	cursor: pointer;
}
/*////////adaptive///////////////*/
@media(max-width: 1366px) {
	.upper {
		margin-left: 926px;
	}

	.description {
		width: 100%;
	}

	.img-title__low {
    font: 600 155px/243px Montserrat-SemiBold, arial, helvetica, sans-serif;
    width: 50%;
	}

	.img {
		width: 100%;
	}

	.description-up {
		width: 100%;
		background-size: 89%;
	}
}

@media(max-width: 1200px) {
	.btn {
		left: 800px;
	}

	.model {
		margin-right: 83px;
	}

	.img {
    width: 100%;
    background-size: 70%;
	}

	.img-title__low {
		left: 45%;
	}

	.description-low {
		width: 100%
	}

	.description-up {
		width: 100%
	}

	.upper {
		margin-left: 64%;
	}

	.img-title__low {
    font: 600 147px/243px Montserrat-SemiBold, arial, helvetica, sans-serif;
    width: 50%;
  }
}

@media(max-width: 1136px) {
	.main-speed {
    margin: -48px 0 0 -195px;
  }

  .links {
    margin: 0 -170px 0 -30px;
	}

	.main__red-car {
		background-size: contain;
	}

	.main {
		background-position-y: 10%;
	}

	.description-first::before {
		left: -27px;
	}

	.description-first {
		padding-left: 0;
	}

	.description__button{
		padding: 8px 26px;
	}
}
@media(max-width: 1108px) {
	.img-title__low {
    font: 600 111px/243px Montserrat-SemiBold, arial, helvetica, sans-serif;
    width: 50%;
  }

  .img {
  	background-size: 58%;
  }
}

@media(max-width: 875px) {
	.main__pros {
		margin-top: -82px;
	}
}

@media(max-width: 1070px) {
	.model, .menu {
    font: 600 12px/18px Montserrat-SemiBold, arial, helvetica, sans-serif;
	}

	.btn {
		left: 704px;
	}
}

@media(max-width: 901px) {
	.upper {
		margin-left: 56%;
	}
}

@media(max-width: 968px) {
	.model{
		margin-right: 5px;
	}

	.btn {
		left: 624px;
	}
}

@media(max-width: 885px) {
	.model__item {
    margin-right: 29px;
  }

  .model__item_active {
    margin-right: 29px;
	}

	.btn {
    left: 572px;
   }
}

@media(max-width: 844px) {
	.model__item {
    margin-right: 22px;
	}

	.btn {
		left: 529px;
	}
}

@media(max-width: 768px) {
	.model, .menu {
		display: none;
	}

	.btn {
		left: 0;
		top: 0
	}

	.header {
		margin: 0 0 58px 35px;
	}

	.logo {
		background-position-x: -20px;
	}

	.btn {
    left: -13px;
    top: -1px;
    width: 36px;
	}

	.btn > span, .btn > span::after, .btn > span::before {
		height: 4px;
	}

	.btn > span::before {
    top: -10px;
	}

	.btn > span::after {
    top: 10px;
	}

	.main__title {
    margin: 21px 0 0 0;
	}

	.main {
		background: url(img/tesla_ipad.svg) no-repeat;
		background-position: 50% 20%;
		background-size: contain;
	}

	.main__red-car {
		background: url(img/car_ipad.svg) no-repeat;
		background-position: 50% 65%;
	}

	.speed-img{
		background-position: 1px 8px;
    background-size: 77px;
    width: 101px;
    height: 91px;
	}

	.main-speed {
    margin: -2px 0 44px -70px;
	}

	.main-speed__number {
		font: 600 50px/61px Montserrat-SemiBold, arial, helvetica, sans-serif;
		margin: -45px 0 0 -8px;
		position: relative;
	}

	.main-speed__text {
		position: absolute;
		margin: 22px 0 0 11px;
	}

	.main-speed__subtitle {
    margin: 27px 0 0 -71px;
	}

	.main-distance {
    height: 150px;
    margin: 0 -356px 57px 0;
	}

	.distance-img {
		background: url(img/Road-icon-ipad.svg) no-repeat;
		background-position: 16% 12px;
		height: 100px;
	}

	.main-distance__number {
		font: 600 50px/60px Montserrat-SemiBold, arial, helvetica, sans-serif;
		margin: -36px 0 0 -3px;
		position: relative;
	}

	.main-distance__text {
		position: absolute;
		margin: 21px 0 0 10px;
	}

	.main-distance__subtitle {
    margin: 55px -25px 17px -88px;
	}

	.links {
    margin: 210px -30px 0px -194px;
    height: 88px;
    width: 500px;
	}

	.test-drive {
		background: url(img/Test-drive-red.svg) no-repeat;
		margin: -2px 0 0px 80px;
		width: 164px;
	}

	.main-button {
		font: 700 16px/16px Montserrat-Bold, arial, helvetica, sans-serif;
		width: 216px;
    height: 51px;
    margin: -33px 0px 0 34px;
    background-color: #e51937;
    color: #fefefe;
	}

	.main-button:hover {
		color: #e51937;
		background-color: #fefefe;
  }

	.arrow {
		margin-top: 28px;
	}

	.whs {
		display: none;
	}

	.description-up {
		background: url(img/carredpad.svg) no-repeat;
		height: 1048px;
		background-position: 0 60px;
		background-size: 100%;
	}

	.upper {
		width: 100%;
		height: 456px;
		margin-top: 73%;
		margin-left: 0;
		padding: 32px 0 0 34px;
	}

	.upper__title {
		margin-bottom: 22px;
	}

	.display {
		margin: -292px 0 -15px 420px;
	}

	.functionality {
		margin-left: 420px;
		margin-bottom: -13px;
	}

	.space {
		margin: 0 0 93px 420px;
		padding-left: 61px;
	}

	.description__link {
		font: 700 16px/19px Montserrat-Bold, arial, helvetica, sans-serif;
	}

	.description-first {
		padding-left: 164px;
	}

	.description-first::before {
		background: url(img/ipad.svg);
		width: 32px;
		height: 32px;
		left: 120px;
    top: -6px;
	}

	.description__button {	
    font: 700 16px/19px Montserrat-Bold, arial, helvetica, sans-serif;
    margin-left: 39px;
    border: 3px solid #FFF;
    padding: 15px 62px;
	}

	.img-title__up {
		left: 434px;
		top: 12px
	}

	.img {
		display: none;
	}

	.description-low {
		background: url(img/carpadfr.svg) no-repeat;
		width: 100%;
		height: 500px;
		display: flex;
    justify-content: space-between;
    background-position-y: 77px;
	}

	.img-title__low {
    left: 83px;
    top: -85px;
    font: 600 148px/180px Montserrat-SemiBold, arial, helvetica, sans-serif;
	}

	.lower {
		margin-top: 70%;
		width: 100%;
    height: 448px;
    padding: 40px 0 0 34px;
	}

	.lower__title {
		width: 70%;
	}

	.lower__protection {
		margin: -37% 0 30px 388px;
	}

	.protection {
		margin: 0 0 89px 389px;
		font: 700 17px/20px Montserrat-Bold, arial, helvetica, sans-serif;
	}

	.protection__item::after {
		right: 55px;
	}

	.lower-text {
		display: none;
	}

	.description-second {
		padding-left: 164px;
	}

	.description-second::before {
		background: url(img/ipad.svg);
		width: 32px;
		height: 32px;
		top: -6px;
		left: 120px;
	}
}

@media(max-width: 728px) {
	.img-title__up {
		left: 50%;
	}

	.protection__item::after {
    right: 8%;
	}

	.img-title__low {
		font: 600 135px/180px Montserrat-SemiBold, arial, helvetica, sans-serif;
	}
}

@media(max-width: 670px) {
	.main__red-car {
		background-size: 600px;
		background-position: 50% 58%;
	}

	.links {
		margin: 210px -90px 0 -194px;
	}

	.main__pros {
		margin-right: 18px;
	}

	.test-drive {
		margin: -2px 0 0px 53px;
    width: 180px;
   background-position-x: 6px;
	}
}

@media(max-width: 632px) {
	.main__pros {
    margin-right: 43px;
	}
}

@media(max-width: 585px) {
	.main__red-car {
    background-size: 540px;
    background-position: 50% 38%;
	}

	.main__pros {
    margin-top: -141px;
    margin-left: -36px;
	}

	.main-distance {
    margin: 0 -313px 57px 0;
	}

	.links {
    margin: 210px -136px 0 -194px;
	}
}

@media(max-width: 542px) {
	.main__pros {
		margin: -276px 0 0 -57px;
	}

	.main__red-car {
    background-size: 430px;
    background-position: 50% 16%;
	}

	.main__title {
		margin: 0;
	}

	.links {
    margin: 210px -143px 0 -185px;
	}
}

@media(max-width: 458px) {
	.links {
		margin: 210px -136px 0 -170px;
	}

	.main__title {
    font: 600 72px/97px Montserrat-SemiBold, arial, helvetica, sans-serif;
	}

	.main__subtitle {
		font: 500 14px/18px Montserrat-Medium, arial, helvetica, sans-serif;
	}

	.main-speed__subtitle {
    margin: 27px 0 0 -61px;
	}

	.main-speed__number {
		font: 600 43px/61px Montserrat-SemiBold, arial, helvetica, sans-serif;
	}

	.main-distance__number {
    font: 600 43px/60px Montserrat-SemiBold, arial, helvetica, sans-serif;
  }

  .main-distance__subtitle {
    margin: 55px -25px 17px -75px;
	}

	.main-button {
    font: 700 14px/16px Montserrat-Bold, arial, helvetica, sans-serif;
    width: 192px;
    height: 46px;
    margin: -33px 25px 0 17px;
  }
}


@media(max-width: 425px) {
	.main__title {
    font: 600 75px/110px Montserrat-SemiBold, arial, helvetica, sans-serif;
	}

	.main__subtitle {
		font: 500 13px/18px Montserrat-Medium, arial, helvetica, sans-serif;
		margin: -18px 0 0 0;
	}

	.main__red-car {
    background-size: 370px;
	}

	.speed-img {
		background: url(img/speed-mobile.svg) no-repeat;
		background-position: 50% 15%;
	}

	.main-speed__number {
    font: 600 27px/33px Montserrat-SemiBold, arial, helvetica, sans-serif;
    margin: -51px 0 0 -22px;
  }

  .main-speed__text {
    font: 600 15px/18px Montserrat-SemiBold, arial, helvetica, sans-serif;
    margin: 10px 0 0 3px;
  }

  .main-speed__subtitle {
    font: 400 10px/12px Montserrat-Regular, arial, helvetica, sans-serif;
    margin: -2px 0 0 -38px;
	}

	.distance-img {
		background: url(img/distance-mobile.svg) no-repeat;
		margin: 33px 0 0 0;
	}

	.main-distance__number {
		font: 600 27px/33px Montserrat-SemiBold, arial, helvetica, sans-serif;
		margin: -40px 0 0 -34px;
	}

	.main-distance__text {
		font: 600 15px/18px Montserrat-SemiBold, arial, helvetica, sans-serif;
		margin: 7px 0 0 3px;
	}

	.main-distance__subtitle {
		font: 400 10px/12px Montserrat-Regular, arial, helvetica, sans-serif;
		margin: 22px -25px 17px -47px;
	}

	.links {
    margin: 152px -112px 0 -158px;
	}

	.main-button {
    font: 700 13px/18px Montserrat-Bold, arial, helvetica, sans-serif;
    width: 148px;
    height: 35px;
    margin: -45px 0px 0 36px;
  }

	.test-drive {
		background: url(img/test-mobile.svg) no-repeat;
		margin: -2px 0 0px 84px;
		background-position-x: 25px;
	}

	.main-speed {
    margin: 21px 0 44px -60px;
  }

  .main-distance {
    margin: 24px -348px 57px 0;
	}

	.arrow {
    margin-top: -12px;
	}
}

@media(max-width: 385px) {
	.links {
    margin: 152px -112px 0 -135px;
	}

	.main-button {
		margin: -45px 0px 0 12px;
	}
}

@media(max-width: 375px) {
	.main-distance {
		width: 97px;
	}

	.btn {
    left: -30px;
    top: -23px;
    width: 24px;
	}

	.btn > span, .btn > span::after, .btn > span::before {
		height: 2px;
	}

	.btn > span::before {
    top: -7px;
	}

	.btn > span::after {
    top: 7px;
	}

	.logo {
		background: url(img/logo-mobile.svg) no-repeat;
		background-position: -33% -20%;
    margin: 0 0 0 -24px;
	}

	.main__title {
    font: 600 50px/61px Montserrat-SemiBold, arial, helvetica, sans-serif;
    margin-top: -55px;
  }

  .main__subtitle {
    font: 500 10px/12px Montserrat-Medium, arial, helvetica, sans-serif;
    margin: -3px 0 0 0;
	}

	.main {
		background: url(img/Tesla-mobile.svg) no-repeat;
		background-size: contain;
    background-position-y: 7%;
	}

	.main__red-car {
		background: url(img/car-mobile.svg) no-repeat;
		background-size: 95%;
    background-position: 50% 17%;
	}

	.main__pros {
    margin: -273px 0 0 -36px;
	}

	.main-speed {
		margin: 13px 0 44px -67px;
	}

	.speed-img {
		background-position: 45% 15%;
	}

	.main-speed__number {
		margin: -54px 0 0 -22px;
	}

	.main-speed__text {
		margin: 12px 0 0 9px;
	}

	.main-speed__subtitle {
		margin: -13px 0 0 -38px;
	}

	.main-distance {
    margin: 0 -209px 45px 0;
	}

	.distance-img {
    margin: 26px 0 0 -4px;
	}

	.main-distance__number {
    margin: -42px 0 0 -30px;
	}

	.main-distance__text{
		margin: 12px 0 0 8px;
	}

	.main-distance__subtitle {
    margin: 20px -25px 17px -47px;
	}

	.links {
  	margin: 138px -80px 0 -125px;
	}

	.test-drive {
		margin: -2px -43px 0px 84px;
	}

	.main-button {
		width: 155px;
    height: 35px;
    margin: -43px 0px 0 22px;
	}

	.arrow {
		margin-top: -14px;
	  margin-left: 3px;
	}

	.img-title__up {
		display: none;
	}
}

@media(max-width: 334px) {
	.links {
    margin: 103px -97px 0 -123px;
	}

	.test-drive {
		background-size: 100px;
    background-position-x: 8px;
	}

	.main-button {
    font: 700 11px/9px Montserrat-Bold, arial, helvetica, sans-serif;
    width: 143px;
    height: 29px;
    margin: -43px 0px 0 18px;
  }
}

@media(max-width: 284px) {
	.test-drive {
		background-size: 98px;
    background-position-x: 22px;
	}

	.arrow {
		margin-left: 27px;
		background-size: 22px;
	}
}

@media(min-width: 1600px) {
	.model {
    margin-right: 241px;
	}

	.btn {
		left: 982px;
	}

	.upper {
		margin-left: 1149px;
	}
}

@media(min-width: 1750px) {
	.model {
    margin-right: 302px;
	}

	.btn {
    left: 1032px;
  }

  .main-distance {
    margin: 0 0 0 -200px;
	}

	.description-up {
    width: 1750px;
    background-size: 1382px;
	}

	.upper {
    margin-left: 1381px;
  }

  .whs {
  	right: -38px;
  }
}

@media(min-width: 1920px) {
	.model {
    margin-right: 365px;
	}

	.btn {
		left: 1098px;
	}

	.main-distance {
  	margin: 0 0 0 -324px;
	}

	.description-up {
    width: 1920px;
    background-position-y: 99%;
    background-size: 1470px;
	}

	.description-low {
		width: 1920px
	}

	.upper {
    width: 401px;
    height: 876px;
    margin-left: 1467px;
  }

  .img-title__low {
  	left: 1000px;
  }

  .img {
  	width: 1700px;
  	background-position: 628px 182px;
  }

  .whs {
    right: 5px;
	}
}





