.model, .menu {
	font: 600 15px/18px Montserrat-SemiBold, arial, helvetica, sans-serif;
}

.main__title {
	font: 600 90px/110px Montserrat-SemiBold, arial, helvetica, sans-serif;
}

.main__subtitle, .upper__subtitle, .lower__subtitle {
	font: 500 15px/18px Montserrat-Medium, arial, helvetica, sans-serif;
}

.main-speed__number, .main-distance__number, .display__number, .space__number {
	font: 600 35px/43px Montserrat-SemiBold, arial, helvetica, sans-serif;
}

.main-speed__text, .main-distance__text, .display__text, .space__text {
	font: 600 20px/24px Montserrat-SemiBold, arial, helvetica, sans-serif;
}

.main-speed__subtitle, .main-distance__subtitle, .display__subtitle, .functionality__subtitle {
	font: 400 12px/15px Montserrat-Regular, arial, helvetica, sans-serif;
}

.test-drive__link, .main-button, .description__link, .description__button {
	font: 700 13px/16px Montserrat-Bold, arial, helvetica, sans-serif;	
}

.upper__title, .lower__title, .protection-title, .lower__stars {
	font: 600 30px/37px Montserrat-SemiBold, arial, helvetica, sans-serif;
}

.functionality__title {
	font: 600 20px/18px Montserrat-SemiBold, arial, helvetica, sans-serif;
}

.protection {
	font: 700 17px/21px Montserrat-Bold, arial, helvetica, sans-serif;
}

.protection__item_dop {
	font: 700 10px/12px Montserrat-Bold, arial, helvetica, sans-serif;
}

.lower__number {
	font: 600 50px/61px Montserrat-SemiBold, arial, helvetica, sans-serif;
}

.lower__safety {
	font: 600 25px/30px Montserrat-SemiBold, arial, helvetica, sans-serif;
}